<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MXZM3C2');</script>
  <!-- End Google Tag Manager -->

  <base href="/">
  <link rel="stylesheet" type="text/css" href="/node_modules/@phuocng/react-pdf-viewer/cjs/react-pdf-viewer.css"/>
</head>
<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXZM3C2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
    <a href="./"><h1><%= process.env.REACT_APP_TITLE %></h1></a>
    <p>
      This a a sample page of how a <%= process.env.REACT_APP_TITLE %> can be integrated with any website
    </p>
    <p>
      This page has a single script injection, <a href="./fyne.js">fyne.js</a>
    </p>
    <p>
      <a href="./fyne.js">fyne.js</a> will listen for triggers (eg.: click/mutation) <em>then</em> load and launch the app on demand.
    </p>
    <p>
      Example 1, in <a href="./dialog.html">a dialog</a>, triggered by <a href="#" data-pdf="<%= process.env.REACT_APP_PDF_SAMPLE %>" rel="<%= process.env.REACT_APP_FWX_FORM %>-dialog">a click</a>
    </p>
    <p>
      Example 2, in <a href="./inline.html">a html element</a>, triggered onload
    </p>
    <p>
      Example 3, when <a href="./dynamic.html">an element is detected</a> (uses mutation observer)
    </p>
    <p>
      Example 4, in a dialog with <code>fwx.fyne.<%= process.env.REACT_APP_FWX_FORM %>.show({ pdf: "..." })</code>
      <br/>
      eg.: <code>fwx.fyne.<%= process.env.REACT_APP_FWX_FORM %>.show({ pdf: "<%= process.env.REACT_APP_PDF_SAMPLE %>" })</code>
    </p>
    <p>
      Example 5, <a href="./direct.html">direct integration</a> without lazy-loading
    </p>
    <!--
    the plain integraton is pointless
    <p>
      Example 6, <a href="./plain.html">plain integration</a> without lazy-loading or bindings
    </p>
    -->

    <p>
      Related links:
      <br/><a href="https://github.com/fyneworks/fyne-pdf">https://github.com/fyneworks/fyne-pdf</a>
      <br/><a href="https://www.npmjs.com/package/@fyne/pdf">https://www.npmjs.com/package/@fyne/pdf</a>
      <br/><a href="https://unpkg.com/browse/@fyne/pdf@latest/">https://unpkg.com/browse/@fyne/pdf@latest/</a>
      <br/><a href="https://unpkg.com/@fyne/pdf@latest/fyne.js">https://unpkg.com/@fyne/pdf@latest/fyne.js</a>
      <br/><a href="https://pdf.fyne.dev/">https://pdf.fyne.dev/</a>
    </p>
</html>